$navbar-default-bg: #073B15;


@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align-center;
}

.jumbotron{

  background-image: asset_url('picture1.jpeg');
  background-size: cover;
  height: 300px;


}

#logo {

  float: left;
  front-size: 1.7em
  color: fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

  #logo:hover{
    color: #1AD027;
    text-decoration: none;

}

  .jumbotron h1, h2 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }

  .btn-xlarge {
    background-color: #4cae4c;
  }

  .btn-xlarge:hover {
    color: #fff;
    text-decoration: none;

  }

